<!DOCTYPE html>
<html>

<head>
    <title> {{ .Title }} </title>
</head>

<body>
    <h1> {{ .Title }} </h1>
    <hr>
    <form name="upload" enctype="multipart/form-data">
        <input type="file" name="file" id="file">
        <input type="submit" value="upload" onclick="upload_file()" formaction="javascript:void(0)">
    </form>
    <hr>
    <table>
        <tr>
            <td><a href="../">../</a></td>
        </tr>
        {{ range .Files }}
        <tr>
            <td><a href="{{ .Link }}">{{ .HtmlName }}</a></td>
            <td>{{ .ModTime }}</td>
            <td>{{ .Info.Size }}</td>
            <td>{{ .SizeReadable }}</td>
            <td><a href="javascript:void(0)" onclick="delete_file('{{ .Name }}', '{{ .Link }}')">delete</a></td>
            <td><a href="javascript:void(0)" onclick="rename_file('{{ .Name }}', '{{ .Link }}')">rename</a></td>
            <td><a href="{{ .Link }}?download=hash">hash</a></td>
            <td>
                {{ if .Info.IsDir }}
                <a href="{{ .Link }}?download=tar">tar</a>
                {{ end }}
            </td>
        </tr>
        {{ end }}
    </table>
    <hr>
</body>
<style>
    table {
        font-family: monospace;
    }

    table a {
        max-width: 50em;
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    td {
        padding-right: 1em;
        padding-top: 2px;
        padding-bottom: 2px;
    }
</style>
<script>
    function request(method, url, body, header) {
        var request = new XMLHttpRequest();

        request.onreadystatechange = function () {
            if (request.readyState == request.DONE) {
                if (100 <= request.status && request.status < 300) {
                    location.reload();
                } else {
                    alert(request.response);
                }
            }
        }

        request.open(method, url);
        if (header !== undefined && header !== null) {
            for (const key in header) {
                request.setRequestHeader(key, header[key])
            }
        }
        request.send(body);
    }

    function delete_file(name, url) {
        var result = confirm(`Want to delete '${name}'?`);
        if (result) {
            request("DELETE", url, null);
        }
    }

    function rename_file(name, url) {
        var result = prompt(`Want to rename '${name}'?`);
        console.log(result);
        if (result != null && result != "") {
            var body = {
                "action": "rename",
                "property": {
                    "name": result,
                },
            };
            var header = {
                "Content-Type": "application/json; charset=UTF-8",
            };

            request("POST", url, JSON.stringify(body), header);
        }
    }

    function upload_file() {
        const file = document.getElementById("file").files[0];
        const url = new URL(window.location.href);
        var formData = new FormData();

        formData.append("file", file)
        request("POST", url.pathname, formData)
    }

    function encode_file(file, additional) {
        var fileId = `${file.name}/${file.size}/${file.lastModified}`;
        if (additional)
            fileId += ` ${additional}`;
        return hash(fileId);
    }

    function hash(message) {
        const data = new TextEncoder().encode(message);
        const hashBuffer = window.crypto.subtle.digest("SHA-256", data);
        const hashArray = Array.from(new Uint8Array(hashBuffer));
        const hashHex = hashArray.map(b => b.toString(16).padStart(2, '0')).join('');
        return hashHex;
    }
</script>

</html>